html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background: $brown;
  color: #555;
  font-family: Proxima Nova, $helvetica;
}

a, a:visited {
  @include transition (color 200ms ease-in-out);
  color: $blue;

  &:hover {
    color: $dark_blue;
  }
}

footer {
  background: $dark_brown;
  color: #999;
  font-size: 14px;
  font-weight: 600;
  padding: 30px 0 50px 0;
}

h1 {
  background: image-url('logo.png');
  display: inline-block;
  margin-bottom: 20px;
  @include size(51px 51px);
}

h2 {
  color: $dark_brown;
  font-size: 26px;
  font-weight: 600;
}

h3 {
  color: $dark_brown;
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

header {
  background: $red;
  padding: 50px 0;
  text-align: center;
}

main {
  margin: 60px 0;
}

nav {
  background: $dark_brown;
}

p {
  line-height: 1.4em;
  margin-top: 20px;
}

strong {
  font-weight: 600;
}

time {
  background: #CCC;
  border-radius: 3px 0 0 3px;
  color: #555;
  display: block;
  font-size: 12px;
  font-weight: 600;
  left: -105px;
  line-height: 1.4em;
  margin-right: 15px;
  padding: 10px 0 10px 10px;
  position: absolute;
  top: 4px;
  width: 80px;
  z-index: 1000;
}
