$brown: #545453;
$dark_brown: darken($brown, 10%);
$gray: #EBEAE8;
$green: #55BC75;
$yellow: #F7BE3F;
$red: #DE4444;

@mixin opacity($trans) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  filter: alpha(opacity=($trans * 100));
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}

@mixin status-block($color) {
  a {
    @include transition (color 200ms ease-in-out);
    color: $color;
    font-weight: 600;

    &:hover {
      color: lighten($color, 10%);
    }
  }
  
  .status-circle {
    color: $color;
  }
  
  .status-content {
    border-left: 5px solid $color;
  }
}
