@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  time {
    border-radius: 3px;
    left: auto;
    margin: 40px auto 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
    top: auto;
  }

  .button {
    padding: 20px 0;
    width: 100%;
  }

  .button-wrap {
    margin-left: 0;
  }

  .nav-item {
    margin: 40px 10px 40px 0;
  }

  .nav-item:last-child {
    margin: 40px 0 40px 10px;
  }

  .nav-list {
    text-align: center;
  }

  .status-circle {
    border-radius: 40px 40px 0 0;
    left: auto;
    margin: 40px auto 0 auto;
    position: relative;
    top: auto;
  }

  .status-content {
    border-left-width: 0 !important;
    border-top-width: 5px;
    margin-left: 0;
    padding: 20px;
  }

  .support {
    display: none;
  }

  .time-arrow {
    display: none;
  }

  .timeline {
    left: 50%;
    margin-left: -2px;
  }

  .wrap {
    width: 86%
  }
}
