@media only screen and (max-width: 600px) {
  time {
    border-radius: 3px;
    left: auto;
    margin: 40px auto 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
    top: auto;
  }

  .button {
    padding: 20px 0;
    width: 100%;
  }

  .button-wrap {
    margin-left: 0;
  }

  .nav-item {
    margin: 40px 20px;
  }

  .time-arrow {
    display: none;
  }

  .nav-list {
    text-align: center;
  }

  .status-circle {
    border-radius: 40px 40px 0 0;
    display: block;
    left: auto;
    margin: 40px auto 0 auto;
    position: relative;
    top: auto;
  }

  .status-content {
    margin-left: 0;
    padding: 30px;
  }

  .status-block-green .status-content { border-left: 0; border-top: 5px solid $green; }
  .status-block-red .status-content { border-left: 0; border-top: 5px solid $red; }
  .status-block-yellow .status-content { border-left: 0; border-top: 5px solid $yellow; }

  .support {
    display: none;
  }

  .timeline {
    left: 50%;
    margin-left: -2px;
  }

  .wrap {
    width: 86%
  }
}