<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "Litmus" %></title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "index" %>
  </head>
  
  <body>
    <header>
      <div class="wrap center">
        <h1 class="logo"></h1>
        <h2>Sorry, we're having issues.</h2>
        <h3>Updated 2 min ago.</h3>
      </div>
    </header>

    <nav>
      <div class="wrap">
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link active" href="#">Current Status</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Status History</a></li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="wrap">
        <%= yield %>
      </div>
    </main>
  </body>
</html>