---
title: Status History
---

<div class="timeline js-timeline"></div>

<article class="status-block status-block-red opacity-0 js-fade-in">
  <time>
    <div class="time-arrow"></div>
    <i class="fa fa-clock-o"></i> 12:03 PM
  </time>

  <figure class="status-circle">
    <i class="fa fa-exclamation-triangle"></i>
  </figure>

  <section class="status-content">
    <h3>Litmus Application</h3>

    <ul class="status-alert-list">
      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>Database</strong> is down.
      </li>
    </ul>
  </section>
</article>

<article class="status-block status-block-yellow opacity-0 js-fade-in">
  <time>
    <div class="time-arrow"></div>
    <i class="fa fa-clock-o"></i> 10:21 AM
  </time>

  <figure class="status-circle">
    <i class="fa fa-exclamation-triangle"></i>
  </figure>

  <section class="status-content">
    <h3>Email Previews</h3>

    <ul class="status-alert-list">
      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>iPad Mini</strong> is running slowly.
      </li>

      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>Windows Phone 8</strong> is running slowly.
      </li>

      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>iPad Retina</strong> is running slowly.
      </li>
    </ul>
  </section>
</article>

<article class="status-block status-block-green opacity-0 js-fade-in">
  <time>
    <div class="time-arrow"></div>
    <i class="fa fa-clock-o"></i> 8:57 AM
  </time>

  <figure class="status-circle">
    <i class="fa fa-check"></i>
  </figure>

  <section class="status-content">
    <h3>Litmus Application</h3>
  </section>
</article>

<article class="status-block status-block-yellow opacity-0 js-fade-in">
  <time>
    <div class="time-arrow"></div>
    <i class="fa fa-clock-o"></i> Yesterday
  </time>

  <figure class="status-circle">
    <i class="fa fa-exclamation-triangle"></i>
  </figure>

  <section class="status-content">
    <h3>Litmus Application</h3>

    <ul class="status-alert-list">
      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>Database</strong> is running slow.
      </li>
    </ul>
  </section>
</article>

<article class="status-block status-block-yellow opacity-0 js-fade-in">
  <time>
    <div class="time-arrow"></div>
    <i class="fa fa-clock-o"></i> Yesterday
  </time>

  <figure class="status-circle">
    <i class="fa fa-exclamation-triangle"></i>
  </figure>

  <section class="status-content">
    <h3>Email Previews</h3>

    <ul class="status-alert-list">
      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>iPad Mini</strong> is running slowly.
      </li>
    </ul>
  </section>
</article>

<div class="button-wrap opacity-0 js-fade-in">
  <a href="#" class="button">Load More</a>
</div>
