---
title: Current Status
---

<article class="status-block status-block-red opacity-0 js-status-block">
  <figure class="status-circle">
    <i class="fa fa-exclamation-triangle"></i>
  </figure>

  <section class="status-content">
    <h2>Litmus Application</h2>
    
    <ul class="status-alert-list">
      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>Database</strong> is down.
      </li>

      <li class="status-alert">
        <i class="fa fa-twitter"></i>
        <strong>10:20 AM</strong> our database went down at
        10:13 AM this morning. We are working to get it back up
        <a href="#">#litmus_application_status</a>
      </li>
    </ul>
  </section>
</article>

<article class="status-block status-block-yellow opacity-0 js-status-block">
  <figure class="status-circle">
    <i class="fa fa-exclamation-triangle"></i>
  </figure>

  <section class="status-content">
    <h2>Email Previews</h2>
    
    <ul class="status-alert-list">
      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>iPad Mini</strong> is running slowly.
      </li>

      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>Windows Phone 8</strong> is running slowly.
      </li>

      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>iPad Retina</strong> is running slowly.
      </li>
    </ul>
  </section>
</article>

<article class="status-block status-block-green opacity-0 js-status-block">
  <figure class="status-circle">
    <i class="fa fa-check"></i>
  </figure>

  <section class="status-content">
    <h2>Web Page Previews</h2>
  </section>
</article>

<article class="status-block status-block-green opacity-0 js-status-block">
  <figure class="status-circle">
    <i class="fa fa-check"></i>
  </figure>

  <section class="status-content">
    <h2>Spam Filters</h2>
  </section>
</article>

<article class="status-block status-block-green opacity-0 js-status-block">
  <figure class="status-circle">
    <i class="fa fa-check"></i>
  </figure>

  <section class="status-content">
    <h2>Email Analytics</h2>
  </section>
</article>

<article class="status-block status-block-green opacity-0 js-status-block">
  <figure class="status-circle">
    <i class="fa fa-check"></i>
  </figure>

  <section class="status-content">
    <h2>Reseller API</h2>
  </section>
</article>

<article class="status-block status-block-green opacity-0 js-status-block">
  <figure class="status-circle">
    <i class="fa fa-check"></i>
  </figure>

  <section class="status-content">
    <h2>Interactive Testing</h2>
  </section>
</article>
