---
title: Current Status
---

<article class="status-block status-block-red">
  <div class="status-circle"></div>
  <div class="status-content">
    <h2>Litmus Application</h2>
    <ul class="status-alert-list">
      <li>
        <p>
          <i class="fa fa-exclamation-circle"></i>
          <strong>iPad Mini</strong> is running slowly.
        </p>
      </li>

      <li>
        <p>
          <i class="fa fa-exclamation-circle"></i>
          <strong>iPad Mini</strong> is running slowly.
        </p>
      </li>
    </ul>
  </div>
</article>

<article class="status-block status-block-yellow">
  <div class="status-circle"></div>
  <div class="status-content">
    <h2>Email Previews</h2>
    <p>
      <i class="fa fa-exclamation-circle"></i>
      <strong>iPad Mini</strong> is running slowly.
    </p>

    <p>
      <i class="fa fa-exclamation-circle"></i>
      <strong>iPhone 5s</strong> is running slowly.
    </p>

    <p>
      <i class="fa fa-exclamation-circle"></i>
      <strong>Windows 8 Phone</strong> is running slowly.
    </p>

    <p>
      <i class="fa fa-exclamation-circle"></i>
      <strong>Windows 8 Phone</strong> is running slowly.
    </p>
  </div>
</article>

<article class="status-block status-block-yellow">
  <div class="status-circle"></div>
  <div class="status-content">
    <h2>Web Page Previews</h2>
    <p>
      <i class="fa fa-exclamation-circle"></i>
      <strong>iPad Mini</strong> is running slowly.
    </p>

    <p>
      <i class="fa fa-exclamation-circle"></i>
      <strong>iPhone 5s</strong> is running slowly.
    </p>

    <p>
      <i class="fa fa-exclamation-circle"></i>
      <strong>Windows 8 Phone</strong> is running slowly.
    </p>

    <p>
      <i class="fa fa-exclamation-circle"></i>
      <strong>Windows 8 Phone</strong> is running slowly.
    </p>
  </div>
</article>

<article class="status-block status-block-green">
  <div class="status-circle"></div>
  <div class="status-content">
    <h2>Spam Filters</h2>
  </div>
</article>

<article class="status-block status-block-green">
  <div class="status-circle"></div>
  <div class="status-content">
    <h2>Email Analytics</h2>
  </div>
</article>

<article class="status-block status-block-green">
  <div class="status-circle"></div>
  <div class="status-content">
    <h2>Interactive Testing</h2>
  </div>
</article>
