---
title: Current Status
---

<article class="status-block status-block-red opacity-0 js-fade-in">
  <figure class="status-circle">
    <i class="fa fa-exclamation-triangle"></i>
  </figure>

  <section class="status-content">
    <h3>Litmus Application</h3>

    <ul class="status-alert-list">
      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>Database</strong> is down.
      </li>

      <li class="status-alert">
        <i class="fa fa-twitter"></i>
        <strong>10:20 AM</strong> our database went down at
        10:13 AM this morning. We are working to get it back up
        <a href="#">#litmus_application_status</a>
      </li>
    </ul>
  </section>
</article>

<article class="status-block status-block-yellow opacity-0 js-fade-in">
  <figure class="status-circle">
    <i class="fa fa-exclamation-triangle"></i>
  </figure>

  <section class="status-content">
    <h3>Email Previews</h3>

    <ul class="status-alert-list">
      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>iPad Mini</strong> is running slowly.
      </li>

      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>Windows Phone 8</strong> is running slowly.
      </li>

      <li class="status-alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>iPad Retina</strong> is running slowly.
      </li>
    </ul>
  </section>
</article>

<article class="status-block status-block-green opacity-0 js-fade-in">
  <figure class="status-circle">
    <i class="fa fa-check"></i>
  </figure>

  <section class="status-content">
    <h3>Web Page Previews</h3>
  </section>
</article>

<article class="status-block status-block-green opacity-0 js-fade-in">
  <figure class="status-circle">
    <i class="fa fa-check"></i>
  </figure>

  <section class="status-content">
    <h3>Spam Filters</h3>
  </section>
</article>

<article class="status-block status-block-green opacity-0 js-fade-in">
  <figure class="status-circle">
    <i class="fa fa-check"></i>
  </figure>

  <section class="status-content">
    <h3>Email Analytics</h3>
  </section>
</article>

<article class="status-block status-block-green opacity-0 js-fade-in">
  <figure class="status-circle">
    <i class="fa fa-check"></i>
  </figure>

  <section class="status-content">
    <h3>Reseller API</h3>
  </section>
</article>

<article class="status-block status-block-green opacity-0 js-fade-in">
  <figure class="status-circle">
    <i class="fa fa-check"></i>
  </figure>

  <section class="status-content">
    <h3>Interactive Testing</h3>
  </section>
</article>
